.sectionCard {
  margin-left: 1.125rem;
  .sectionHeader {
    font-size: 1.625rem;
    font-family: 'sans';
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
  }
  .sectionTitle {
    font-size: 1rem;
  }
  .sectionSubTitle {
    font-size: 0.25;
  }
}